{% extends "email/base_email.html" %}

{% block content %}
<h1>Reset Your Password</h1>
<p>Hi {{ user.first_name }},</p>
<p>We received a request to reset your password. If you didn't make this request, you can safely ignore this email.</p>
<p>To reset your password, click the button below:</p>

<a href="{{ reset_url }}" class="button">Reset Password</a>

<p>If the button doesn't work, you can copy and paste this link into your browser:</p>
<p>{{ reset_url }}</p>

<p>This link will expire in 24 hours for security reasons.</p>

<p>Best regards,<br>The UrbanHerb Team</p>
{% endblock %}
